@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF-UI-Display-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF-UI-Display-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF-UI-Display-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

:root {
  --color-text-primary: rgba(50, 49, 47, 1);
  --color-text-secondary: rgba(101, 101, 101, 1);
  --color-checkbox-active-bg: rgba(50, 49, 47, 1);
  --color-button: rgba(255, 92, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-surface-card: rgba(246, 246, 246, 1);
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-pagination: rgba(230, 230, 230, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'SF UI Display', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-medium {
  font-family: 'SF UI Display', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.text-semibold {
  font-family: 'SF UI Display', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
}

.text-bold {
  font-family: 'SF UI Display', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}

.white {
  color: var(--color-white);
}

.grey {
  color: var(--color-text-secondary);
}

.black {
  color: var(--color-text-primary);
}

.card {
  width: 508px;
  max-width: 508px;
  height: 704px;
  max-height: 704px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 8px;
}

.card:hover {
  box-shadow: 0 0 20px var(--color-shadow);
}

.card:hover .card__content {
  background-color: var(--color-white);
}

.card:hover .card__material-option {
  background-color: var(--color-surface-card);
  border-radius: 18px;
}

.card:hover .card__actions {
  background-color: var(--color-white);
  border-radius: 18px;
}

.card:hover .card__purchase-button {
  opacity: 1;
  pointer-events: auto;
}

.card__header {
  position: relative;
  width: 100%;
}

.card__hover-overlay {
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-overlay);
  opacity: 0;
  z-index: 2;
}

.card__hover-overlay-description {
  color: var(--color-white);
  font-family: 'SF UI Display', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.card:hover .card__hover-overlay {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.card__content {
  background-color: var(--color-surface-card);

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px 20px 14px 20px;
}

.card__info {
  display: flex;
  flex-direction: column;

  gap: 3px;
}

.card__info-description {
  color: var(--color-text-primary);
  font-family: 'SF UI Display', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__material {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__material-options {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__material-option {
  padding: 6px 12px;
  cursor: pointer;
}

.card__material-option--active {
  padding: 6px 12px;
  color: var(--color-white);
  background-color: var(--color-checkbox-active-bg);
  border-radius: 18px;
}

.card__material-checkbox {
  appearance: none;
}

.card__purchase {
  display: flex;
  width: 100%;
}

.card__purchase > * {
  flex: 1 1 0;
}

.card__price {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card__purchase-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

.order-button {
  font-family: 'SF UI Display', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;

  color: var(--color-white);
  background-color: var(--color-button);
  border: none;
  border-radius: 14px;
  cursor: pointer;

  max-width: 224px;
  max-height: 56px;

  padding: 16.5px 79.5px;
}

.card__actions-bar {
  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 14px;
}

.card__line {
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
}

.card__button-link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 34px;
  max-height: 68px;
}

.card__actions {
  display: flex;
  align-items: center;

  padding: 6px 12px;
  gap: 5px;
}

.like-button {
  all: unset;
  cursor: pointer;
}

.card__calc {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;
  cursor: pointer;
  outline: none;

  gap: 5px;
}

#mySlider .splide__pagination {
  display: flex;
  gap: 6px;
  bottom: -20px;

  background-color: var(--color-surface-card);
}

#mySlider .splide__pagination li {
  flex: 1;
}

#mySlider .splide__pagination__page {
  width: 100%;
  height: 3px;
  background-color: var(--color-pagination);
  border-radius: 0;
  margin: 0;
  padding: 0;
  transform: none;
  opacity: 1;
}

/* Убираем стандартное увеличение */
#mySlider .splide__pagination__page.is-active {
  background-color: var(--color-button);
  transform: none;
}
